
/* Panel section */

.panel{
    height: 50px;
    width: 100%;
    background-color: #232f3e;
    font-size: 12px;
    display: flex;
        
}
.menu{
    height: 39px;
    width: 58px;
    color: #ffffff;
    padding: 8px 9px;
    display: flex;
    margin-top: 5px;
}
.Menu-link{
    text-decoration: none;
}
.menu i{
    height: 14px;
    width: 17px;
    font-size: 19px;
    color: #ffffff;
}
#m-all{
    height: 12px;
    width: 23px;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    
}
.panel-opts{
    font-size: 14px;
    margin: 5px 0px 6px; 
    padding: 8px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.opts{
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
}